
ion-content{
    --ion-background-color: linear-gradient(to bottom right, #F58524, #f92b7e) !important;
}

#svg-container
{
  display: flex;
  align-items: center;
  height: 100%;
}

#svg-1
{
  margin: 0 auto;
  display: block;
}